/.phpunit.cache
/node_modules
/public/build
/public/files
/public/media
/public/portofolios
/public/services
/public/personal-testimonials
/public/testimonials
/public/vendor
/public/hot
/public/storage
/public/profile-pictures
/public/backgrounds
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/config/session.php
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
dev.sh
/bootstrap/app.php